<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona startowa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form th:action="@{/addtask}" method="post" th:object="${task}">
    <p>Nazwa: </p><input type="text" th:field="*{taskName}"/>

    <p>Data rozpoczęcia: </p><input type="date" dataformatas="dd-MM-yyyy" th:field="*{startDate}"/>
    <p>Czas rozpoczęcia: </p><input type="time" th:field="*{startTime}"/>
    <p>Czas trwania w h: </p><input type="time" th:field="*{durationTime}"/>
    <input type="submit" value="dodaj"/>
</form>
<div>
    <form th:action="@{/}" method="get">
        <button name="id" value="potwierdź">Powrót</button>
    </form>
</div>
</body>
</html>