<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona startowa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form th:action="@{/showallday}" method="post">
        <p>Wyświetl zadania z dnia: </p><input type="date" name="date" dataformatas="dd-MM-yyyy" th:value="${date}"/>
        <input type="submit" value="Pokaż"/>
    </form>
</div>
<div th:if="${taskList.isEmpty()}">
    <p>Brak zadan</p>
</div>
<div th:unless="${taskList.isEmpty()}">
    <p><div>
    <table>
        <tr>
            <th>LP</th>
            <th>ZADANIE</th>
            <th>CZAS TRWANIA</th>
            <th><a th:href="@{'/showall?sort='+${sort}}">DATA ROZPOCZĘCIA</a></th>
            <th>GODZINA ROZPOCZECIA</th>
            <th>STATUS</th>
            <th>ZMIEN STATUS</th>
            <th>CZAS DO ROZPOCZECIA</th>
        </tr>
        <tr th:each="task:${taskList}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.taskName}"></td>
            <td th:text="${task.durationTime}"></td>
            <td th:text="${task.startDate}"></td>
            <td th:text="${task.startTime}"></td>
            <td th:if="${task.doneStatus}">Zrobione</td>
            <td th:unless="${task.doneStatus}">Do zrobienia</td>
            <td>
                <form th:action="@{/changestatus}" method="post">
                    <input type="checkbox" th:checked="${task.doneStatus}" name="doneStatus"/>
                    <button name="id" th:value="${task.id}" type="submit" value="potwierdź">Zmien status</button>
                </form>
            </td>
            <td th:text="${task.getEstEndTime()}"></td>
        </tr>

    </table>
</div></p>
</div>
<p th:text="${toDays}"></p>
<div>
    <form th:action="@{/}" method="get">
        <button name="id" value="potwierdź">Powrót</button>
    </form>
</div>


</body>
</html>